body{
    padding:0;
    margin: 0;
    /*background-image: url(https://www.freepik.com/premium-vector/abstract-health-medical-science-healthcare-icon_3006063.htm#page=1&query=medical%20background&position=45);*/
  background:url(https://image.freepik.com/free-vector/abstract-health-medical-science-healthcare-icon_36402-277.jpg);
  background-size: cover;

}
.main-heading{
  text-align: center;
  color:transparent;
  text-transform:uppercase;
  font-family:"poppins";
  background: linear-gradient(to bottom right,   #91FC90, #C4E243);
  -webkit-background-clip:text;
  margin-top:2rem;
  font-size:3rem;
  }
.form:before{
  content:"";
  position:absolute;
  top:-1px;
  left:0;
  width:100%;
  height:100.2%;
  transform:rotate(0deg);
  filter:brightness(90%);
  border-radius:.7rem;
  background:url(https://cdn.hipwallpaper.com/i/13/44/yZESwP.jpg) center;
  z-index:-100000;
}
.form{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:transparent;
  color:white;
  width:50%;
  z-index:0;
  text-align:center;
  margin-top:2rem;
  padding:2rem;
  font-family:"poppins";
  filter:brightness(100%);
  font-size:1.2rem;
 }

.owner{
  font-size:1.4rem;
  color:#34eb67;
  letter-spacing:1px;
  font-family:"poppins";
  /*text-shadow:0 .5rem .3rem white;*/
  text-transform:uppercase;
}
.pure-form{
  text-align:center;
  margin: 0 auto;
  background:rgba(44, 43, 43, 0.507);
  width:50%;
  padding-bottom: 1rem;
  box-shadow:0 1rem 2rem black;
}
.label{
  display:block;
  padding-bottom:1rem;
}
.input{
  margin-bottom:2rem;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  display:block;
  color:white;
  border:none;
  outline:none;
  padding-bottom:5px;
  text-align:center;
  border-bottom:1px solid #fff;
  background:transparent;
}
input::placeholder {
  color: white;
  text-align:center;
  font-size: 10px;
}
.styled-button{
  position:relative;
  margin-bottom:1rem;
}
.button{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  border:none;
  padding:15px 30px;
  /*background:linear-gradient(to right,#585959 0%,#585959 50%,black 50%,black 100%);*/
  background:black;
  color:rgba(103, 109, 115,.2);
  font-weight:bold;
  font-size:1rem;
  z-index:4;
  border-radius:.5rem;
  overflow:hidden;
  transition:color 1s;
  
}
.button:hover{
  color:white;
  background:black;
  filter:none;
}
.button:after{
  content:"";
  position:absolute;
  top:0;
  left:-99.2%;
  width:100%;
  height:100%;
  background:linear-gradient(90deg,transparent ,#06e3fa,transparent);
  opacity:.4;
   overflow:hidden;
  z-index:-2;
  transform:skewX(-5deg);
  filter:brightness(120%);
transition:all ,.5s;  
}
.button:hover:after{ 
  left:100%;
  
}
.text{
  filter:blur(1px);
}
.button:hover .text{
  filter:none;
}
.border{
  position:absolute;
  top:-4px;
  left:50.1%;
  transform:translateX(-50%);
  padding:16px 33px;
  border-radius:.6rem;
  z-index:-100;
  background-image:linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#fad648);
  filter:brightness(120%) blur(-100%);
  background-size:63%;
  font-size:1rem;
  
  }
 #kunal:hover + #kajal{
  animation:animate1 3s linear infinite;
}
@keyframes animate1{
  0%{
    background-position:0 0;
    }
  100%{
    background-position:1000%;
  }
}

